.git/
.github/
infra/
**/node_modules/
**/dist/
**/build/
**/coverage/
**/.next/
**/.nuxt/
.vscode/
.idea/
*.log
**/*.log
.DS_Store
Thumbs.db
.env
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!apps/
!packages/