# Dev Environment Configuration
project_id                = "hyperush-dev"
region                   = "europe-west1"
runtime_service_account  = "runtime-sa@hyperush-dev.iam.gserviceaccount.com"
svc_authz_image         = "europe-west1-docker.pkg.dev/<PROJECT_ID>/services/svc-authz:latest"